<!DOCTYPE html>
<html>
<head>
  <title class="title"><%= @app_name %></title>
</head>
<body>
  <h1 class="name">Welcome to <%= @app_name %></h1>
  <p class="tag"><%= @tagline %></p>
  <div class="link-div">
  <%= link_to @cta_signup, http://127.0.0.1:3000/users/sign_up, class: "link" %>
  <%= link_to @cta_login, http://127.0.0.1:3000/users/sign_in, class: "link" %>
  </div>
</body>
</html>
