<!DOCTYPE html>
<html>
<head>
  <title><%= @app_name %></title>
</head>
<body>
  <h1>Welcome to <%= @app_name %></h1>
  <p><%= @tagline %></p>
  <%= link_to @cta_signup, signup_path %>
  <%= link_to @cta_login, login_path %>
</body>
</html>
