<div class="category-index">
<div>
  <div class="nav background">
  <%= link_to categories_path, class: "left-arrow-link background" do %>
    <%= image_tag 'left-arrow.svg', class: "left-arrow background" %>
    <% end %>
  <p class="registration background">EXPENDITURES</p>
  <%= link_to "SIGN OUT", destroy_user_session_path, data:{turbo_method: :delete}, class: "sign-out-btn background" %>
  </div>
  
  
  <div class="total">
    <p>Total budget</p>
    <p> <%= @category.name %>: <%= @category.expenditures.sum(:amount) %></p>
  <% @expenditures.each do |expenditure| %>
  <div class="category-list-div">
    <div class="category-list">
    <% if expenditure.icon.attached? %>
    <%= image_tag expenditure.icon, class: "img white" %>
    <% else %>
    <%= image_tag 'food.svg', class: "img white" %>
<% end %>
      <div class="text white">
        <div class="food-description white">
          <p class="white"><%= expenditure.name%></p><br>
          <p class="white">Le <%= format_amount(expenditure.amount) %></p>
        </div>
        <p class="white date"><%= expenditure.created_at.strftime("%d %B %Y") %></p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  <div class="add-expenditure">
  <%= link_to 'ADD EXPENDITURE', new_category_expenditure_path(@category), class: "add-expenditure-a" %>
</div>
